@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 2vw;
    text-align: center;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.board {
    background-color: darkgrey;
    display: inline-grid;
    grid-template-rows: repeat(4, 18vw);
    grid-template-columns: repeat(5, 18vw);
    grid-gap: 1vw;
    margin: 0 -2vw;
    padding: 1vw;
    border-radius: 1vw;
}

@media (max-width: 480px) {
    .board {
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 22.75vw);
        grid-template-columns: repeat(4, 22.75vw);
    }
}

.board .card {
    border-radius: 1vw;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition-duration: 0.2s;
    transition-property: transform, background-color;
    transition-timing-function: ease, frames(2);
}

.board .card.closed {
    transform: rotateY(180deg);
}

.board .card:not(.closed) {
    transform: rotateY(0deg);
}

.board .card.opened, .board .card.mismatch {
    background-color: white;
}

.board .card.matched {
    background-color: lightgrey;
}

.board .card.mismatch {
    color: red;
}

.board .card:not(closed)::before {
    content: attr(data-symbol);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
