::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    margin: 2vw;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.board {
    background-color: darkgrey;
    display: grid;
    grid-template-rows: repeat(4, 18vw);
    grid-template-columns: repeat(5, 18vw);
    grid-gap: 1vw;
    padding: 1vw;
    border-radius: 1vw;
}

@media (max-width: 480px) {
    .board {
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 22.75vw);
        grid-template-columns: repeat(4, 22.75vw);
    }
}

.board > * {
    border-radius: 1vw;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition-duration: 0.2s;
    transition-property: transform, background-color;
    transition-timing-function: ease, frames(2);
}

.board > .closed {
    transform: rotateY(180deg);
}

.board > :not(.closed) {
    transform: rotateY(0deg);
}

.board > .opened, .board > .mismatch {
    background-color: white;
}

.board > .matched {
    background-color: lightgrey;
}

.board > .mismatch {
    color: red;
}

.board > :not(closed)::before {
    content: attr(data-symbol);
}
